/* #male-female-chart-wrapper {
  align-content: center;
  margin: 0 auto;
}

#agriculture-chart-wrapper {
  margin : 0 auto;
  align-content: center;
} 

#stats-area {
  /* max-width: 50%; */
  /* float: left; */
  /* margin: 0 auto;  */
/* } */ 

/* #agriculture-chart-section {
  float: left;
  max-width: 50%;
}
#education-chart-section {
  float: right;
  max-width: 50%;

}
#health-welfare-section {
  clear: both;
} */